Version 1.0

[This]
Resolution       = 1330
Left             = 0
Top              = -580
Right            = 1600
Bottom           = 740
Center           = 740, -120
Origin           = 750, -120

[Pilotlamp]
Subject          = true
Location         = 0,0
DaytimeImage     = d3d\Panel2.bmp
NighttimeImage   = d3d\Panel_n.bmp
TransparentColor = #0000FF
Layer            = 4

[Pilotlamp]
Subject          = true
Location         = 0,490
DaytimeImage     = d3d\mctable.bmp
NighttimeImage   = d3d\mctable_n.bmp
Layer            = 5

[Pilotlamp]
Subject          = true
Location         = 365,-900
DaytimeImage     = d3d\cctv.bmp
NighttimeImage   = d3d\cctv_n.bmp
TransparentColor = #0000FF
Layer            = 5

[Pilotlamp]
Subject          = door
Location         = 687,276
DaytimeImage     = d3d\doorOn.bmp
NighttimeImage   = d3d\doorOn_n.bmp
Layer            = 6

[Pilotlamp]
Subject          = ats82
Location         = 687,276
DaytimeImage     = d3d\doorOff.bmp
NighttimeImage   = d3d\doorOff_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr0
Location         = 1136,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr1
Location         = 1156,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr2
Location         = 1176,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr3
Location         = 1196,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr4
Location         = 1216,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorr5
Location         = 1236,222
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl0
Location         = 1136,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl1
Location         = 1156,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl2
Location         = 1176,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl3
Location         = 1196,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl4
Location         = 1216,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = doorl5
Location         = 1236,256
DaytimeImage     = d3d\dooroff_tis.bmp
Layer            = 8

[Pilotlamp]
Subject          = door
Location         = 1075,210
DaytimeImage     = d3d\dooron_tis.bmp
Layer            = 9

[Pilotlamp]
Subject          = ats52
Location         = 1248,110
DaytimeImage     = sub\rb.bmp
TransparentColor = #0000FF
Layer            = 8

[Pilotlamp]
Subject          = csc
Location         = 1248,119
DaytimeImage     = d3d\teisoku.bmp
TransparentColor = #0000FF
Layer            = 8

[Needle]
Subject          = kmph
Location         = 747,159
DaytimeImage     = d3d\sm.bmp
TransparentColor = #0000FF
Origin           = 16, 225
Layer            = 10
Radius           = 57
InitialAngle     = -124
LastAngle        = 124
Minimum          = 0
Maximum          = 120
NaturalFreq      = 6.3
DampingRatio     = 0.5

[Needle]
Subject          = mr
Location         = 383,282
DaytimeImage     = d3d\red.bmp
NighttimeImage   = d3d\red_n.bmp
TransparentColor = #0000FF
Origin           = 32, 170
Layer            = 10
Radius           = 49
InitialAngle     = -130
LastAngle        = 130
Minimum          = 0
Maximum          = 1000
NaturalFreq      = 0

[Needle]
Subject          = bc
Location         = 383,282
DaytimeImage     = d3d\black.bmp
TransparentColor = #0000FF
Origin           = 32, 170
Layer            = 11
Radius           = 49
InitialAngle     = -130
LastAngle        = 130
Minimum          = 0
Maximum          = 1000
NaturalFreq      = 0
DampingRatio     = 0.9

[Needle]
Subject          = ats202
Location         = 210,281
DaytimeImage     = d3d\sm.bmp
TransparentColor = #0000FF
Origin           = 16, 225
Layer            = 10
Radius           = 50
InitialAngle     = 0
LastAngle        = 80
Minimum          = 0
Maximum          = 75
NaturalFreq      = 1.8
DampingRatio     = 0.9

[Needle]
Subject          = ats51
Location         = 286,132
DaytimeImage     = d3d\sm.bmp
TransparentColor = #0000FF
Origin           = 16, 225
Layer            = 10
Radius           = 50
InitialAngle     = -114
LastAngle        = 38
Minimum          = -1.3
Maximum          = 10
NaturalFreq      = 7
DampingRatio     = 0.5

[Pilotlamp]
Subject          = true
Location         = 723,133
DaytimeImage     = d3d\smon.bmp
NighttimeImage   = d3d\smon_n.bmp
TransparentColor = #0000FF
Layer            = 13

[Pilotlamp]
Subject          = true
Location         = 377,276
DaytimeImage     = d3d\pgon.bmp
NighttimeImage   = d3d\pgon_n.bmp
TransparentColor = #0000FF
Layer            = 13

[Pilotlamp]
Subject          = true
Location         = 271,116
DaytimeImage     = d3d\amon.bmp
NighttimeImage   = d3d\amon_n.bmp
TransparentColor = #0000FF
Layer            = 13

[Pilotlamp]
Subject          = true
Location         = 194,266
DaytimeImage     = d3d\amon.bmp
NighttimeImage   = d3d\amon_n.bmp
TransparentColor = #0000FF
Layer            = 13

[Pilotlamp]
Subject          = ats161
Location         = 133,48
DaytimeImage     = sub\back3.bmp
NighttimeImage   = sub\back4.bmp
TransparentColor = #0000FF
Layer            = 8

[Pilotlamp]
Subject          = ats161
Location         = 682,94
DaytimeImage     = sub\back1.bmp
TransparentColor = #0000FF
Layer            = 8

[DigitalNumber]
Subject          = ats151
Location         = 1280,112
DaytimeImage     = sub\syubetsu.bmp
TransparentColor = #0000FF
Layer            = 8
Interval         = 16

[Pilotlamp]
Subject          = true
Location         = 1332,470
DaytimeImage     = ats\atcSw.bmp
NighttimeImage   = ats\atcSw_n.bmp
TransparentColor = #0000FF
Layer            = 6

[DigitalNumber]
Subject          = ats72
Location         = 1402,530
DaytimeImage     = ats\atcsw_img.bmp
NighttimeImage   = ats\atcsw_img_n.bmp
Layer            = 8
Interval         = 128

[DigitalNumber]
Subject          = ats72
Location         = 1132,530
DaytimeImage     = ats\oprcgs_img.bmp
NighttimeImage   = ats\oprcgs_img_n.bmp
Layer            = 8
Interval         = 128

[DigitalNumber]
Subject          = ats92
Location         = 600,380
DaytimeImage     = ats\key.bmp
NighttimeImage   = ats\key_n.bmp
TransparentColor = #0000ff
Layer            = 10
Interval         = 128

[Pilotlamp]
Subject          = ats1
Location         = 521,197
DaytimeImage     = ats\hisetsu.bmp
NighttimeImage   = ats\hisetsu_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats6
Location         = 521,197
DaytimeImage     = ats\hisetsu.bmp
NighttimeImage   = ats\hisetsu_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats21
Location         = 522,144
DaytimeImage     = ats\atc.bmp
NighttimeImage   = ats\atc_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats22
Location         = 908,88
DaytimeImage     = ats\atc_eb.bmp
NighttimeImage   = ats\atc_eb_n.bmp
Layer            = 10

[Pilotlamp]
Subject          = ats23
Location         = 908,106
DaytimeImage     = ats\atc_sb.bmp
NighttimeImage   = ats\atc_sb_n.bmp
Layer            = 10

[Pilotlamp]
Subject          = ats24
Location         = 522,88
DaytimeImage     = ats\emd.bmp
NighttimeImage   = ats\emd_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats31
Location         = 521,179
DaytimeImage     = ats\konai.bmp
NighttimeImage   = ats\konai_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats32
Location         = 521,161
DaytimeImage     = ats\irekae.bmp
NighttimeImage   = ats\irekae_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats24
Location         = 668,155
DaytimeImage     = atc\emmsk1.bmp
TransparentColor = #0000ff
Layer            = 10

[Pilotlamp]
Subject          = ats24
Location         = 699,50
DaytimeImage     = atc\emmsk2.bmp
TransparentColor = #0000ff
Layer            = 10

[Pilotlamp]
Subject          = ats131
Location         = 699,50
DaytimeImage     = atc\srs.bmp
TransparentColor = #0000ff
Layer            = 9

[Pilotlamp]
Subject          = ats132
Location         = 763,50
DaytimeImage     = atc\sgs.bmp
TransparentColor = #0000ff
Layer            = 9

[Pilotlamp]
Subject          = ats101
Location         = 739,229
DaytimeImage     = atc\002.bmp
Layer            = 9

[Pilotlamp]
Subject          = ats102
Location         = 678,194
DaytimeImage     = atc\001.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats104
Location         = 669,168
DaytimeImage     = atc\010.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats105
Location         = 668,155
DaytimeImage     = atc\015.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats106
Location         = 668,141
DaytimeImage     = atc\020.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats107
Location         = 670,129
DaytimeImage     = atc\025.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats108
Location         = 674,118
DaytimeImage     = atc\030.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats109
Location         = 681,107
DaytimeImage     = atc\035.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats110
Location         = 689,97
DaytimeImage     = atc\040.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats111
Location         = 698,88
DaytimeImage     = atc\045.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats112
Location         = 709,83
DaytimeImage     = atc\050.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats113
Location         = 721,80
DaytimeImage     = atc\055.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats114
Location         = 735,79
DaytimeImage     = atc\060.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats115
Location         = 747,81
DaytimeImage     = atc\065.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats116
Location         = 760,83
DaytimeImage     = atc\070.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats117
Location         = 772,87
DaytimeImage     = atc\075.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats118
Location         = 782,95
DaytimeImage     = atc\080.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats119
Location         = 791,103
DaytimeImage     = atc\085.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats120
Location         = 797,114
DaytimeImage     = atc\090.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats121
Location         = 802,124
DaytimeImage     = atc\095.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats122
Location         = 804,137
DaytimeImage     = atc\100.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats124
Location         = 802,164
DaytimeImage     = atc\110.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats133
Location         = 768,223
DaytimeImage     = atc\syk.bmp
TransparentColor = #0000ff
Layer            = 6

[Pilotlamp]
Subject          = ats134
Location         = 708,221
DaytimeImage     = atc\sps.bmp
Layer            = 6

[Pilotlamp]
Subject          = ats136
Location         = 522,125
DaytimeImage     = ats\tasc.bmp
NighttimeImage   = ats\tasc_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats138
Location         = 908,125
DaytimeImage     = ats\tascc.bmp
NighttimeImage   = ats\tascc_n.bmp
Layer            = 10

[Pilotlamp]
Subject          = ats139
Location         = 1194,148
DaytimeImage     = ats\tasc_b.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = ats146
Location         = 522,106
DaytimeImage     = ats\ato.bmp
NighttimeImage   = ats\ato_n.bmp
Layer            = 8

[Pilotlamp]
Subject          = ats150
Location         = 393,-552
DaytimeImage     = sub\cctv1c.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats150
Location         = 580,-552
DaytimeImage     = sub\cctv2c.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats150
Location         = 775,-552
DaytimeImage     = sub\cctv3c.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats150
Location         = 966,-552
DaytimeImage     = sub\cctv4c.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats171
Location         = 908,161
DaytimeImage     = ats\rbco.bmp
NighttimeImage   = ats\rbco_n.bmp
Layer            = 10

[Pilotlamp]
Subject          = ats176
Location         = 908,143
DaytimeImage     = ats\snow.bmp
NighttimeImage   = ats\snow_n.bmp
Layer            = 10

[Pilotlamp]
Subject          = ats181
Location         = 210,381
DaytimeImage     = sub\hdl.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats182
Location         = 1170,381
DaytimeImage     = sub\hdl.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats184
Location         = 210,421
DaytimeImage     = sub\hdl2.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = ats185
Location         = 1170,421
DaytimeImage     = sub\hdl2.bmp
TransparentColor = #0000ff
Layer            = 7

[Pilotlamp]
Subject          = doorr1
Location         = 393,-552
DaytimeImage     = sub\cctv1o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorr2
Location         = 580,-552
DaytimeImage     = sub\cctv2o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorr3
Location         = 775,-552
DaytimeImage     = sub\cctv3o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorr4
Location         = 966,-552
DaytimeImage     = sub\cctv4o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorl4
Location         = 393,-552
DaytimeImage     = sub\cctv1o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorl2
Location         = 580,-552
DaytimeImage     = sub\cctv2o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorl3
Location         = 775,-552
DaytimeImage     = sub\cctv3o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = doorl1
Location         = 966,-552
DaytimeImage     = sub\cctv4o.bmp
TransparentColor = #0000ff
Layer            = 8

[Pilotlamp]
Subject          = ats166
Location         = 393,-552
DaytimeImage     = sub\cctvoff.bmp
TransparentColor = #0000ff
Layer            = 9

[Pilotlamp]
Subject          = ats166
Location         = 580,-552
DaytimeImage     = sub\cctvoff.bmp
TransparentColor = #0000ff
Layer            = 9

[Pilotlamp]
Subject          = ats166
Location         = 775,-552
DaytimeImage     = sub\cctvoff.bmp
TransparentColor = #0000ff
Layer            = 9

[Pilotlamp]
Subject          = ats166
Location         = 966,-552
DaytimeImage     = sub\cctvoff.bmp
TransparentColor = #0000ff
Layer            = 9

;駅名表示（停車時）
[DigitalNumber]
Subject          = ats167
Location         = 1186,106
DaytimeImage     = sub\Station.bmp
TransparentColor = #0000ff
Layer            = 6
Interval         = 16

;駅名表示（走行時・自）
[DigitalNumber]
Subject          = ats168
Location         = 1180,106
DaytimeImage     = sub\Station2.bmp
TransparentColor = #0000ff
Layer            = 6
Interval         = 16

;駅名表示（走行時・至）
[DigitalNumber]
Subject          = ats169
Location         = 1215,106
DaytimeImage     = sub\Station2.bmp
TransparentColor = #0000ff
Layer            = 6
Interval         = 16